body{
    margin: 0;
    font-size: 14px;
    color: #9d9d9d;
    line-height: 1.6;
    border: none;

}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
* , *:before,*:after{
    box-sizing: border-box;
}
/*Container*/
.container{
    width: 100%;
    max-width: 1400px;
    padding: 0;
    background-color: #000000;
    display: block;
    margin: 0 auto ;


}
/*Header*/
.header{
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    background-color: black ;



}
.header__inner {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;


}
.header__logo{
    margin-right: 50px;
    padding: 0;
}
.header__logo__link{
    display: block;
}
/*nav*/
.nav__outer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.nav{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.nav__upper{
    display: flex;
    justify-content: space-around;
}
.nav__lower{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: #71634b;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin:0 20px;
}
.nav__link:hover{
    background-color:#9a8866;
    color: black;
    border-radius: 4px;
}
/*Sign*/
.sign{
    margin-left: 40px ;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.sign__in{
    color: #71634b;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;


}
.enter{
    color: #71634b;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
/*Bslogo Header*/
.bslogo{
    margin-left: 60px;
    opacity: .5;
    transition: opacity 0.4s linear;
}
.bslogo:hover{
    opacity: 1;
}
.text_reg{
    text-shadow:0 0 30px #c3af2a;
    color: #c35229;

}
/*Main body (recension)*/
.recension{
    width: 100%;
    height: 100vh;
    background: url("../images/recension.jpg")  no-repeat center  ;
    background-size: cover;
    margin-top: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recension_column_left{
    width: 20%;
    margin-right: 450px;
}
.recension_column_right{
    margin-left: 450px;
    width: 20%;
}
